# Input and Output in Python
Inputting data into a program can be the most time intensive activity. Python contains a number of packages designed to import and export data with minimum effort and code. The most popular package these days is *pandas*. (I have included a pandas cheat sheet in the `CompProbSol` repository). You should note that a single backslash does not work when specifying a file path in Python. You need to use aforward slash or add one more backslash as shown in my code below.
All the functions below will return a `dataframe`, a object in Python that stores data and allows access with a certain syntax that I often refer to as "dot notation".

In [1]:
import pandas as pd
datfile = "C:\\Users\\Tom K\\Google Drive\\Programs\\CompProbSol\\code_examples\\data\\statepop.mat"
txtfile = "C:\\Users\\Tom K\\Google Drive\\Programs\\CompProbSol\\code_examples\\data\\GlobalTempbyYear.txt"
csvfile = "C:\\Users\\Tom K\\Google Drive\\Programs\\CompProbSol\\code_examples\\data\\sunspotsbyyear.csv"
xlsfile = "C:\\Users\\Tom K\\Google Drive\\Programs\\CompProbSol\\code_examples\\data\\GlobalCarbonBudget2015.xlsx"

In [2]:
datfile

'C:\\Users\\Tom K\\Google Drive\\Programs\\CompProbSol\\code_examples\\data\\statepop.mat'

## Read text and *csv* files
We can use the `read_table()` function to pull data from text file. You could also use the `read_csv()` with `sep= "\t"` to read data from tab-separated file. By default, python will look for a header row unless otherwise specified.

In [3]:
txt1 = pd.read_table(txtfile, header=None, names=['a'])
txt2 = pd.read_csv(txtfile,sep="\t",header=None)
csv1 = pd.read_csv(csvfile,header=None)

In [14]:
csv2['year']

0      1700.5
1      1701.5
2      1702.5
3      1703.5
4      1704.5
5      1705.5
6      1706.5
7      1707.5
8      1708.5
9      1709.5
10     1710.5
11     1711.5
12     1712.5
13     1713.5
14     1714.5
15     1715.5
16     1716.5
17     1717.5
18     1718.5
19     1719.5
20     1720.5
21     1721.5
22     1722.5
23     1723.5
24     1724.5
25     1725.5
26     1726.5
27     1727.5
28     1728.5
29     1729.5
        ...
286    1986.5
287    1987.5
288    1988.5
289    1989.5
290    1990.5
291    1991.5
292    1992.5
293    1993.5
294    1994.5
295    1995.5
296    1996.5
297    1997.5
298    1998.5
299    1999.5
300    2000.5
301    2001.5
302    2002.5
303    2003.5
304    2004.5
305    2005.5
306    2006.5
307    2007.5
308    2008.5
309    2009.5
310    2010.5
311    2011.5
312    2012.5
313    2013.5
314    2014.5
315    2015.5
Name: year, Length: 316, dtype: float64

You can even add column names while loading the file:

In [5]:
csv2 = pd.read_csv(csvfile,header=None,names = ['year', 'numspots', 'stdev','Nobs','confirmed'])

If you look at csvfile, you'll see some columns with `-1` as a value; this indicates *missing data*. Classifying your missing data properly will help you avoid accidential using the value in a calculation. You can specify this with another option:

In [ ]:
csv3 = pd.read_csv(csvfile,header=None,names = ['year', 'numspots', 'stdev','Nobs','confirmed'],na_values=['-1'])
csv3.stdev

## Reading Excel files
Python will read excel files in the same manner as MATLAB. You can specify sheets and column/row in which to import.

In [15]:
xcel1 = pd.read_excel(xlsfile,sheet_name="Global Carbon Budget", skiprows=21)

In [16]:
xcel1

,Year,fossil fuel and cement emissions,land-use change emissions,atmospheric growth,ocean sink,land sink
0,1959,2.454000,1.472776,2.0352,0.895188,0.996388
1,1960,2.569000,1.460635,1.5052,0.894197,1.630238
2,1961,2.580000,1.530231,1.6536,0.756511,1.700120
3,1962,2.686000,1.519804,1.1872,0.825073,2.193531
4,1963,2.833000,1.526285,1.2084,1.013560,2.137325
5,1964,2.995000,1.517334,1.0388,1.280658,2.192876
6,1965,3.130000,1.548472,2.3320,1.511215,0.835257
7,1966,3.288000,1.550826,2.3320,1.478787,1.028038
8,1967,3.393000,1.594899,1.2932,1.204559,2.490140
9,1968,3.566000,1.546056,2.0988,1.198476,1.814780
10,1969,3.780000,1.542774,2.7984,1.279399,1.244975
11,1970,4.053000,1.531001,2.3956,1.173413,2.014988
12,1971,4.208000,1.404703,1.5476,1.297852,2.767251
13,1972,4.376000,1.326134,3.1164,1.594697,0.991036
14,1973,4.614000,1.317587,3.0952,1.540567,1.295820
15,1974,4.623000,1.289767,1.4416,1.473630,2.997538
16,1975,4.596000,1.302416,2.6076,1.540480,1.750336
17,1976,4.864000,1.319406,2.0564,1.644063,2.482943
18,1977,5.026000,1.351279,4.0704,1.726825,0.580055
19,1978,5.087000,1.298515,2.7348,1.699557,1.951158
20,1979,5.369000,1.251559,4.5368,1.516599,0.567160
21,1980,5.313000,1.243382,3.6464,1.810420,1.099562
22,1981,5.151000,1.252055,2.4380,1.821854,2.143201
23,1982,5.111000,1.257384,2.1200,1.911230,2.337153
24,1983,5.093000,1.432156,3.8584,2.109532,0.557224
25,1984,5.278000,1.460340,2.6500,1.989900,2.098440
26,1985,5.438000,1.498836,3.4768,1.991990,1.468045
27,1986,5.606000,1.529187,2.1836,2.015269,2.936318
28,1987,5.750000,1.514771,5.7452,2.008528,-0.488957
29,1988,5.963000,1.514177,4.7700,1.868088,0.839089
30,1989,6.094000,1.531202,2.8832,1.984607,2.757395
31,1990,6.121000,1.444222,2.4804,2.040497,3.044325
32,1991,6.198000,1.635869,1.6112,2.146530,4.076139
33,1992,6.136000,1.682038,1.4628,2.413580,3.941658
34,1993,6.133000,1.545791,2.5864,2.424692,2.667699
35,1994,6.241000,1.502806,3.5616,2.198248,1.983958
36,1995,6.374000,1.485181,4.0916,2.095361,1.672220
37,1996,6.524000,1.469304,2.2896,2.040919,3.662784
38,1997,6.624000,2.186349,4.1764,2.145375,2.488574
39,1998,6.610000,1.543669,6.0208,2.300996,-0.168127
40,1999,6.597000,1.305998,2.8408,2.193801,2.868398
41,2000,6.763000,1.200968,2.6288,2.134398,3.200770
42,2001,6.929000,0.957577,3.8584,1.991830,2.036346
43,2002,6.992000,1.068361,5.0456,2.307086,0.707675
44,2003,7.405000,0.900853,4.7700,2.422881,1.112973
45,2004,7.784000,1.033942,3.4132,2.298356,3.106386
46,2005,8.076000,1.020393,5.1516,2.318756,1.626038
47,2006,8.363000,1.091338,3.6464,2.481698,3.326241
48,2007,8.532000,0.968984,4.4732,2.496971,2.530813
49,2008,8.740000,0.665290,3.7312,2.483226,3.190864
50,2009,8.700000,0.756763,3.5828,2.543703,3.330260
51,2010,9.140000,0.883931,5.0668,2.521553,2.435579
52,2011,9.449000,0.912458,3.6252,2.657338,4.078921
53,2012,9.575026,0.972458,5.0244,2.799398,2.723685
54,2013,9.735034,0.922458,5.3848,2.806277,2.466416
55,2014,9.795211,1.092458,3.8796,2.929083,4.078987

## Reading `mat` files
You can even read in `.mat` files that are created from MATLAB. You have to use the `scipy.io` module, which contains other useful input/output functions as well. Once loaded, you can access the MATLAB variables using a syntax you've seen before:

    mat1[<variablename>]

In [23]:
import scipy.io as sio
mat1 = sio.loadmat(datfile)
mat1['None']

MatlabOpaque([(b'states', b'MCOS', b'string', array([[3707764736],
       [         2],
       [         1],
       [         1],
       [         1],
       [         1]], dtype=uint32))],
             dtype=[('s0', 'O'), ('s1', 'O'), ('s2', 'O'), ('arr', 'O')])

## Writing to a Plain Text file
Python contains builtin functions to output information to a plain text file. It involves opening a file to write to, writing to that file, and then closing said file.

In [27]:
f= open("test1.txt","w+")
f.write(txt1.a[1])
f.write('\n')
f.close()

You may also append a file (add to it without overwriting).

In [26]:
f= open("test1.txt","a+")
f.write(txt1.a[2])
f.write('\n')
f.close()

## Writing to an Excel file
`pandas` contains a function that allows you to write data to a Microsoft Excel file when using the function `ExcelWriter`. This function requires some groundwork as shown below:

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert a dataframe to an XlsxWriter Excel object.
csv1.to_excel(writer, sheet_name='Sheet1')

# Get the xlsxwriter objects from the dataframe writer object.
workbook  = writer.book
worksheet = writer.sheets['Sheet1']

# Close the Pandas Excel writer and output the Excel file.
writer.save()